<h3>Все заказы</h3>

<!-- В форму передаётся Объект содержащий все данные из БД (табл. orders) -->
<table class="table table-striped">

    <thead>
      
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Заказано</th>
      </tr>
      
    </thead>

    <tbody>

      <!-- Разбираем объект по отдельным записям (Заказам) -->
      <!-- И расставляем каждый элемент в свою ячейку таблицы в этом представлении -->
      <% @orders_db.each do |item| %>

        <tr>
          <th scope="row"><%= item[:id] %></th>
          <td><%= item[:cl_name] %></td>
          <td><%= item[:cl_phone] %></td>
          <td><%= item[:cl_adress] %></td>
          <td><%= item[:cl_string] %></td>
        </tr>
      
      <% end %>  

    </tbody>
  
</table>
