<h2>Ваша корзина</h2>
<div>
<table class="table table-striped">
	<!-- Выводим шапку таблицы -->
  	<div class="row">
  		<div class="col-md-1">№ п.п.</div>			<!-- Номер по порядку -->
  		<div class="col-md-1">Артикул</div>			<!-- ID -->
  		<div class="col-md-4">Наименование</div>	<!-- Название -->
  		<div class="col-md-2">Цена</div>			<!-- Цена за единицу -->
  		<div class="col-md-1">Количество</div>		<!-- Количество -->
  		<div class="col-md-2">СУММА</div>			<!-- Сумма -->
  	</div>
  	<% i = 0 %>		<!-- Переменная для подсчёта количества наименований товаров -->
  	<% k = 0 %>		<!-- Переменная для подсчёта количества всех товаров -->
  	<% total = 0 %>	<!-- Переменная для подсчёта суммы чека (всех товаров в корзине) -->
  	<% @hh.each do |key, value| %>	<!-- Перебираем все товары из корзине (в хеше) Каждый вид товара из корзины далее будет обрабатываться отдельно и называться ТЕКУЩИЙ ВИД ТОВАРА-->
  		<% i += 1 %>

  		<!-- Отыскиваем в базе продуктов данные по ТЕКУЩЕМУ продукту из корзины -->
  		<% @product.each do |p| %> 	<!-- перебираем всю базу продуктов -->
  			<% @pp = p if p.id == key.to_i %> <!-- присваиваем значение записи переменной @pp если id записи (p) в базе одинаковый с id товара (key) выбранного из корзины (т.е. ТЕКУЩЕГО) -->
  		<% end %>

  		<% t = @pp.price.to_i * value %> <!-- Расчёт стоимости за ТЕКУЩИЙ вид товара в чеке -->

  		<!-- Вывод одной строки по ТЕКУЩЕМУ товару в чеке (в таблицу) -->
	  	<div class="row">
	  		<div class="col-md-1"><%= i %></div>
	  		<div class="col-md-1"><%= @pp.id %></div>
	  		<div class="col-md-4"><%= @pp.title %></div>
	  		<div class="col-md-2"><%= @pp.price %></div>
	  		<div class="col-md-1"><%= value %></div>
	  		<div class="col-md-2"><%= t %></div>
	  	</div>
	  	<% total = total + t %>	<!-- Добавление к сумме чека суммы по ТЕКУЩЕМУ товару -->
	  	<% k = k + value %>	<!-- Добавление к общему количеству товаров количества по ТЕКУЩЕМУ виду товара  -->
  	<% end %>
  	<!-- Выводим подвал таблицы с итогами -->
  	<div class="row">
	  		<div class="col-md-8"></div>
	  		<div class="col-md-1"><%= k %></div>
	  		<div class="col-md-2"><%= total %></div>
	  	</div>
</table>
</div>