<h2>Ваша корзина</h2>
<div>
<table class="table table-striped">

	<!-- Выводим шапку таблицы -->
  	<tr class="row">
  		<th class="col-md-1">№ п.п.</th>			<!-- Номер по порядку -->
  		<th class="col-md-1">Артикул</th>			<!-- ID -->
  		<th class="col-md-5">Наименование</th>		<!-- Название -->
  		<th class="col-md-2">Цена</th>				<!-- Цена за единицу -->
  		<th class="col-md-1">Количество</th>		<!-- Количество -->
  		<th class="col-md-2">СУММА</th>				<!-- Сумма -->
  	</tr>
<tbody>  	
  	<% i = 0 %>		<!-- Переменная для подсчёта количества наименований товаров -->
  	<% k = 0 %>		<!-- Переменная для подсчёта количества всех товаров -->
  	<% total = 0 %>	<!-- Переменная для подсчёта суммы чека (всех товаров в корзине) -->
  	<% @hh.each do |key, value| %>	<!-- Перебираем все товары из корзине (в хеше) Каждый вид товара из корзины далее будет обрабатываться отдельно и называться ТЕКУЩИЙ ВИД ТОВАРА-->
  		<% i += 1 %>

  		<!-- Отыскиваем в базе продуктов данные по ТЕКУЩЕМУ продукту из корзины -->
  		<% @product.each do |p| %> 	<!-- перебираем всю базу продуктов -->
  			<% @pp = p if p.id == key.to_i %> <!-- присваиваем значение записи переменной @pp если id записи (p) в базе одинаковый с id товара (key) выбранного из корзины (т.е. ТЕКУЩЕГО) -->
  		<% end %>

  		<% t = @pp.price.to_i * value %> <!-- Расчёт стоимости за ТЕКУЩИЙ вид товара в чеке -->

  		<!-- Вывод одной строки по ТЕКУЩЕМУ товару в чеке (в таблицу) -->
	
	  	<tr class="row">
	  		<td class="col-md-1"><%= i %></td>
	  		<td class="col-md-1"><%= @pp.id %></td>
	  		<td class="col-md-5"><%= @pp.title %></td>
	  		<td class="col-md-2"><%= @pp.price %></td>
	  		<td class="col-md-1"><%= value %></td>
	  		<td class="col-md-2"><%= t %></td>
	  	</tr>
	

	  	<% total = total + t %>	<!-- Добавление к сумме чека суммы по ТЕКУЩЕМУ товару -->
	  	<% k = k + value %>	<!-- Добавление к общему количеству товаров количества по ТЕКУЩЕМУ виду товара  -->
  	<% end %>
  		<!-- Выводим подвал таблицы с итогами -->
  		<tr class="row">
	  		<td class="col-md-1"></td>
	  		<td class="col-md-1"></td>
	  		<td class="col-md-5"></td>
	  		<td class="col-md-2"></td>
	  		<td class="col-md-1"><%= k %></td>
	  		<td class="col-md-2"><%= total %></td>
	  	</tr>
</tbody>	  	
</table>
</div>