<h2>Welcome to Pizza Shop!</h2>

<div class="row">
    <% @product.each do |p| %>
    <div class="col-md-3"> 
        <div>
            <h3><%= p.title %></h3>
        </div>
        <div>
            <img src=" <%= p.path_of_image %> " width=200  />
        </div>
        <div>
            <b>Цена <%= p.price %> рублей.</b>
        </div>
        <div>
            <ins>Размер <%= p.size %> см.</ins>
        </div>
        <div>
            <em><%= p.discription %></em>
        </div>
        <div>
            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)"> Добавить к корзину </button>
        </div>
    </div>
    <% end %>
</div>

<br />
<br />
<button class="btn btn-primary" onclick="something()" > Click me! </button>