
<h2 class="text-center">Welcome to Pizza Shop!</h2>

<div class="row brd-3">
    <% @product.each do |p| %>
    <div class="col-md-4 brd-1 text-center">
        <div>
            <h3 class="text-center"><%= p.title %></h3>
        </div>
        <div>
            <img class="brd-2" src=" <%= p.path_of_image %> " width="200" height="200"/>
        </div>
        <div>
            <ins class="text-center">Размер <%= p.size %> см.</ins>
        </div>
        <div>
            <h4>Цена <b><%= p.price %></b> рублей.</h4>
            <button type="button" class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)"> Добавить в корзину </button>
        </div>
        <div class="text-left"  width="200" height="200">
            <em><%= p.discription %></em>
        </div>
    </div>
    <% end %>
</div>

<br />
<br />


